@import 'normalize';

html,body{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background: #f5f5f5;
    line-height: 24px;

}

a{
	text-decoration: none;
	color: inherit;
}

h1{
	text-align: center;
	font-size: 50px;
	font-weight: unset;
}
h2{
	font-style: italic;
	padding-left: 5px;
	font-weight: unset;
	font-size: 26px;
	padding-left: 0;
}
button{
	border-color: #3bc47f;
    background-color: #3bc47f;
    color: #fff;
    padding: 10px 40px;
    border: none;
}
input{
    padding: 10px 40px;
    border: none;
}

form.search-form{
	width: 383px;
	margin: 20px auto;
}

header#site-header{
	background: #2a2a2a;
	color: #fff;
	padding: 5px;
	text-align: left;
}

main#main-content{
	min-height: 100px;
}

footer#site-footer{
	text-align: center;
	color: #000;
	font-size: 12px;
	padding: 10px 0 0;
	clear: both;
}

.search-results{
	padding: 10px;
}

.book-tile-wrapper{
    display: flex;
    flex-wrap: wrap;

    .book-tile{
	    font-size: 13px;
		border: 1px solid #ccc;
	    width: 240px;
	    padding: 10px;
	    margin: 10px;

	}
	.book-tile label{
		font-weight: bold;
	}
}
.books-details-wrapper{
	.book-tile{
		display: flex;
	}
	.book-info{
		padding-left: 10px;
		font-size: 16px;
	}
}
.books-details-wrapper{
	padding: 10px;
}

.loader {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;

  .loader-spin {
    border: 16px solid #ccc; 
    border-top: 16px solid #3bc47f; 
    border-radius: 100%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
}




@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* Styles for desktop*/

@media only screen and (min-width: 768px) {
    body {
       h1{
			text-align: center;
			font-size: 70px;
			font-weight: unset;
		}
    }
}